header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;

    @include respond(phone) {
        grid-template-columns: 1fr;
    }

    .logo-conatiner {
        width: 35%;
        height: 35%;
    }
    
    .left-header {
        display: flex;
        align-items: center;
        position: relative;

        .h-shape {
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
            position: absolute;
            top: 0;
            left: 0;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }

        .image {
            border-radius: var(--br-sm-2);
            height: 90%;
            width: 68%;
            margin-left: 4rem;
            background: var(--color-black);
            z-index: 100;
            transition: all .4s ease-in-out;
            position: relative;

            @include respond(phone) {
                width: 90%;
                margin-left: 0;
                margin: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        position: relative;

        @include respond(phone) {
            padding-right: 0;
            padding: 3rem;
        }

        .name {
            font-size: 4rem;

            @include respond(phone) {
                line-height: 4.5rem;
                text-align: center;
                margin-bottom: 3rem;
            }
            
            span {
                @include grandient-text-2
            }
        }

        p {
            margin: 1.5rem 0;
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 200;

            @include respond(phone) {
                margin-bottom: 4rem;
            }
        }
    }
}

.logo-container {
    width: 7%;
    bottom: 3%;
    right: 0%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;

    .logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        opacity: .2;
    }
}