.navigation {
    display: none;

    @include respond(phone) {
        display: block;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: var(--color-grey-4);
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1.5rem 3rem rgba(black, .15);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__bg {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        @include gradient-bg;
        z-index: 1000;
        transition: transform .8s cubic-bezier(.85, 0, .13, 1);

        // transform: scale(80);
        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    &__nav {
        height: 100vh;
        opacity: 0;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        transition: all .8s cubic-bezier(1, -0.23, 0, 1.45);
    }

    &__list {
        @include translateCenter;

        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: var(--color-primary);
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%,
                    transparent 50%,
                    var(--color-white) 50%);
            background-size: 222%;
            transition: all .5s cubic-bezier(.85, 0, .13, 1);
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: var(--color-primary);
        }
    }

    // FUNCTIONALLY
    &__checkbox:checked~&__bg {
        transform: scale(80);
    }

    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }

    // ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: var(--color-grey-2);
            display: inline-block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            transition: all .5s;
        }

        &::before {
            top: -.8rem;
            transition: all .3s;
        }

        &::after {
            top: .8rem;
            transition: all .3s;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(-45deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(45deg);
    }
}