.portfolio-text {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 200;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;

    @include respond(phone) {
        grid-template-columns: 1fr;
    }

    .portfolio-item {
        position: relative;
        border-radius: 15px;
        font-size: 1.6rem;
        overflow: hidden;
        

        img {
            width: 100%;
            height: 30rem;
            object-fit: cover;
            border-radius: 15px;
        }

        &:hover .hover-item {
            transform: translateY(0);
        }

        .hover-item {
            width: 100%;
            height: 100%;
            @include gradient-bg;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(100%);
            transition: all .4s cubic-bezier(.39, 0, .15, 1);
            

            h3 {
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    background: var(--color-primary);
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;

                    i {
                        font-size: 2.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }

                    &:hover {
                        background: var(--color-white);
                         i {
                             color: var(--color-primary);
                         }
                    }
                }
            }
        }
    }
}